<!DOCTYPE html>
<html>
    <head>
        <style> 
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>  
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard!</p>
        <p>Here is the list of registered users:</p>

        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            {% for item in users %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td><a href="/edit/{{item[0]}}">Edit</a> | <a href="/delete/{{item[0]}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>